body {
    background: url('../images/prism.png');
    font-size: 18px;
    line-height: 34px;
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
}
#rowOne { 
    width: 100%;
    background: white;
    margin: 0;
}
#rowTwo { 
    float: right;
    background: white;
}
button, div, form, input {
    margin: 10px;

}
.btn-primary, button {
    color: #fff;
    background-color: #4aaaa5;
    border-color: #4aaaa5;
    border: none;
}
#gifContainer {
    background: white;
    width: 25%;
    margin: 0;
}
.gifImage, #btns {
    width: 100%;

}